* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* a regra acima serve para "zerar" algumas propriedades
  que já possuem certas medidas como padrão */
  body {
      background-color: ghostwhite;
  }
  
  h2 {
      font-size: 14px;
      color: #777777;
      line-height: 55px; /* altera a altura da linha do texto */
      height: 55px; /* altera a altura do elemento */
      background-color: black; 
  }
  
  h1 {
      font-size: 72px;
      font-family: Cambria, Times, 'Times New Roman', serif;
      text-align: center; /* altera o alinhamento do texto */
      height: 400px;
      line-height: 400px;
      background-color: #777777;
      color: #ffffff;
      background: url('https://www.ead.senac.br/arquivo/api/download/publico/1410') ;
  }
  
  h3 {
      display: none; /* define que o objeto não será exibido// Não é recomendado fazer isso */
  }
  
  h4 {
      font-size: 24px;
      font-family: Georgia, 'Times New Roman', serif;
      color: darkcyan;
      margin: 24px;
      clear: both;
  }
  
  /* Estilos para o parágrafo */
  p {
      font-family: Arial, Helvetica, sans-serif;
      color: #777777;
      width: 250px;
      margin: 24px;
  }
  
  li {
    border: solid 1px #cccccc;
    color: #ffffff;
    background-color: darkcyan;
    width: 150px;
    margin: 12px;
    padding: 8px;
    float: left;
  }
  
  .preco {
    color: royalblue;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
  }
  

table{
    border: 2px solid #000000;
    width: 450px;
}

tr{
    background-color: cadetblue;
}
.separa{
    padding-bottom: 10px;
}
.gordura{
    padding-bottom: 28px;
}